test/fixtures/templates/good/resources/stepfunctions/state_machine.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: An example template for a Step Functions state machine.
Resources:
  MyStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: HelloWorld-StateMachine
      DefinitionString: |-
        {
          "StartAt": "HelloWorld",
          "States": {
            "HelloWorld": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:111122223333:function:HelloFunction",
              "Next": "CreatePublishedRequest"
            },
            "CreatePublishedRequest": {
              "Type": "Task",
              "Resource": "{$createPublishedRequest}",
              "ResultPath":"$.publishedRequest",
              "OutputPath":"$.publishedRequest",
              "Next": "PutRequest"
              },
            "PutRequest": {
              "Type": "Task",
              "Resource": "{$updateKey}",
              "ResultPath":"$.response",
              "End": true
            }
          }
        }
      RoleArn: arn:aws:iam::111122223333:role/service-role/StatesExecutionRole-us-east-1
